<svg>
    <symbol id="icon1">
    <path paint-order="stroke fill markers" fill-rule="evenodd" d="M34.214 1.398s-3.253 3.129-6.77 4.39C1.398 15.134 12.383 33.342 12.741 33.402c0 0 1.46-2.522 3.434-3.961 12.52-9.128 15.064-19.636 15.064-19.636s-2.81 12.644-13.948 20.511c-2.46 1.737-4.125 6.013-4.83 10.286 0 0 1.743-.698 2.493-.887.293-1.893.904-3.705 1.938-5.324 15.567 1.838 20.665-10.602 21.331-14.94 1.571-10.246-4.01-18.052-4.01-18.052z"/>
    </symbol> 
</svg> 