$bgColor: #202020;
$textColor: #464646;

.clients {
    background: $bgColor;
}

.clients__wrap {
    padding-top: 55px;
    padding-bottom: 80px;
}

.clients__title {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bold;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin: 25px 0;
   
        &::before {
            display: block;
            width: 70px;
            height: 2px;
            background-color: #2f2f2f;
            content: '';
            margin: 0 auto 25px;
        }
}

.clients__text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: $textColor;
    max-width: 555px;
    margin: 25px auto;
  }

  .clients__carousel {
      margin: 50px 0;
      padding-left: 110px;
      padding-right: 110px;
      box-sizing: border-box;
  }

  @media (max-width: 980px) {
    .clients__carousel {
        padding-left: 50px;
        padding-right: 50px;
    }
  }

  @media (max-width: 480px) {
      .clients__wrap {
            padding-top: 30px;
            padding-left: 40px;
      }
}

